<!DOCTYPE html>
<html>
<body>

<form method="post" action="/results.html.erb">
  <h3>Do you live in a house, 'cozy' house, or apartment?</h3>
  <p>Please check only one answer.</p>
<input type="radio" name="q1" value="3">house<br>
<input type="radio" name="q1" value="2">'cozy' house<br>
<input type="radio" name="q1" value="1">apartment<br>


  <h3>Do you have kids?</h3>
  <p>Please check only one answer.</p>
<input type="radio" name="q2" value="1">no kids<br>
<input type="radio" name="q2" value="2">kids under 10<br>
<input type="radio" name="q2" value="3">kids over 10<br>

  <h3>Do you have pets?</h3>
  <p>Please check only one answer.</p>
<input type="radio" name="q3" value="3">no pets<br>
<input type="radio" name="q3" value="2">cats<br>
<input type="radio" name="q3" value="1">other pets<br>

  <h3>Do you have any experience with dogs?</h3>
  <p>Please check only one answer.</p>
<input type="radio" name="q4" value="3">no previous experience<br>
<input type="radio" name="q4" value="2">Currently a dog owner<br>
<input type="radio" name="q4" value="1">Have previously owned a dog<br>

<button type = "submit"> Let's find you your perfect dog breed! </button>


        
</form>


</body>
</html>